#nav1{

    height: 30vh;
    background-image: url("asserts/image/navBack.jpg");

}
#nav2{
    background-color: white;
    box-shadow: 1px 2px 7px 4px rgba(58, 97, 236, 0.84);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 20vh;
    border: 15px solid black;
    border-radius: 10px;
}
#input{
    background-color: #b0bdbd;
    box-shadow: 1px 2px 7px 4px rgba(12, 12, 12, 0.84);
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 30vh;
    border: none;
    padding-top: 8vh;
    font-weight: bolder;
    text-align: center;
    -webkit-text-fill-color: #0e0e0e;
}
#rule{
   margin-top: 20vh;
    height: 10px;
    box-shadow: 1px 2px 7px 4px rgba(34, 34, 243, 0.84);

}
#pos{
    box-shadow: 1px 2px 7px 4px rgba(12, 12, 12, 0.84);
    font-family: sans-serif; /*Poppins,*/
    /*font-weight: 400;*/
}


.linksub{
    padding-right: 10px;
    color: white;
}
.linkmain{
    padding-right: 20px;
    color: black;
    font-weight: bold;

}
#contentLink{
    position: absolute;
    top: 5vh;
    right: 5vw;
}


